@media only screen and (min-width: 1025px) and (max-width:1200px) {
    .list-icon .left {
        margin-right: -143px;
    }
    .list-icon .right {
        margin-right: 53px;
    } 
    .list-icon i {
        right: 113px;
    }
}

@media only screen and (min-width: 769px) and (max-width:1024px) {
    .language {
        margin-right: 58px;
        margin-left: unset;
    }
    .list-icon .left {
        margin-right: -142px;
        margin-top: unset;
    }
    .list-icon .right {
        margin-right: 53px;
    }
    .list-icon i {
        right: 113px;
    }
    .member-content {
        right: -142px;
    }   
}
@media only screen and (min-width: 480px) and (max-width: 768px){
    .Satisfaction-col1 p {
        width: 100%;
    }
    .list-icon .right {
        margin-right: 53px;
    }
    .list-icon .left {
        margin-right: -142px;
    }
    .list-icon i {
        right: 111px;
    }
}
@media only screen and (min-width: 320px) and (max-width:479px){
    .Satisfaction-col1 p {
        width: 100%;
    }
    .list-icon .left {
        margin-right: -140px;
        margin-top: unset;
    }
    .list-icon .right {
        margin-right: 47px;
    }
    .list-icon i {
        right: 108px;
    }
    .businesses-box {
        padding: 0px 30px;
        row-gap: 30px;
        justify-content: center;
    }
}

