@media only screen and (min-width: 1025px) and (max-width: 1200px)  {
    .colunm2{
        width: 55%;
    }
    #menu-drop {
        display: block;
        padding: 16px 0px 16px 0px;
        align-items: center;
        text-align: center;
        font-size: 25px;
        color: rgb(6, 6, 6);
    }
    .neavgation-bar {
        display: none;
    }
    .baner-row2-box {
        padding: 0px 7px;
    }
    .content-row1{
        flex-wrap: wrap;
        justify-content: center;
    }
    .content-row3-flex{
        flex-wrap: wrap;
        justify-content: center;
        width: 1000px;
    }
    .content-row3-colunm2 img{
        width: 920px;
    }

    .people-asking .commient{
        width: 300px;
    }
    .row1 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        column-gap: 80px;
    }
    .neavgation-bar {
        width: 100%;
        padding: 30px 0;
    }
    .neavgation-bar ul li:hover {
    color:#8cbf42;
    border: none;
    padding: 0;
    }
    .serch-bar {
         padding-top: 0px;
    }
    .button {
        height: 90px;
    }
    .neavgation-bar ul {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .baner-row2-position {
        padding: 40px 30px;
    }
}
@media only screen and  (min-width: 769px) and (max-width: 1024px)  {
    .colunm2{
        width: 75%;
    }
    .top-bar {
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }
    .colunm1 {
        width: 23%;
    }
    .language{
        margin-left: unset;
    }
    .baner-row1-colunm1 {
        width: 90%;
    }
    .baner-row2-position {
        flex-wrap: wrap;
        padding: 40px 20px;
        row-gap: 25px;
        align-items: center;
    }
    .content-row2{
        justify-content: center;
    }
    .content-row3-colunm2 img {
        width: 715px;
    }
    .content-row3-flex {
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }
    .content-section4-colunm2 {
        width: 100%;
    }
    .reviewer {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    #menu-drop {
        display: block;
        padding: 16px 0px 16px 0px;
        align-items: center;
        text-align: center;
        font-size: 25px;
        color: rgb(6, 6, 6);
    }
    .neavgation-bar {
        display: none;
    }
    .baner-row2-box {
        padding: 0px 7px;
    }
    .content-row1{
        flex-wrap: wrap;
        justify-content: center;
    }
    .content-row3-flex{
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }
    .people-asking {
        flex-wrap: wrap;
        gap: 37px;
        justify-content: center;
    }
    .content-section8-box-colunm2 {
        width: 100%;
        justify-content: space-between;
        gap: 30px;
        flex-direction: unset;
    }
    .footer-row1 {
        flex-wrap: wrap;
        row-gap: 20px;
    }
    .content-section8-boxes {
        justify-content: center;
        flex-wrap: wrap;
    }
    .people-asking .commient{
        width: 300px;
    }
    .row1 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        column-gap: 80px;
    }
    .neavgation-bar {
        width: 100%;
        padding: 30px 0;
    }
    .neavgation-bar ul li:hover {
    color:#8cbf42;
    border: none;
    padding: 0;
    }
    .serch-bar {
         padding-top: 0px;
    }
    .button {
        height: 90px;
    }
    .neavgation-bar ul {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}
@media only screen and  (min-width: 481px) and (max-width: 768px)   {
    .colunm2{
        width: 80%;
        flex-wrap: wrap;
    }
    .top-bar {
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }
    .colunm1 {
        width: 23%;
    }
    .language{
        margin-left: unset;
    }
    .baner-row1-colunm1 {
        width: 90%;
    }
    .baner-row2-position {
        flex-wrap: wrap;
        padding: 40px 20px;
        row-gap: 25px;
        align-items: center;
    }
    .content-row2{
        justify-content: center;
    }
    .content-row3-colunm2 img {
        width: 715px;
    }
    .content-row3-flex {
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }
    .content-section4-colunm2 {
        width: 100%;
    }
    .reviewer {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    #menu-drop {
        display: block;
        padding: 16px 0px 16px 0px;
        align-items: center;
        text-align: center;
        font-size: 25px;
        color: rgb(6, 6, 6);
    }
    .neavgation-bar {
        display: none;
    }
    .baner-row2-box {
        padding: 0px 7px;
    }
    .content-row1{
        flex-wrap: wrap;
        justify-content: center;
    }
    .content-row3-flex{
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }
    .people-asking {
        flex-wrap: wrap;
        gap: 37px;
        justify-content: center;
    }
    .content-section8-box-colunm2 {
        width: 100%;
        justify-content: space-between;
        gap: 30px;
        flex-direction: unset;
    }
    .footer-row1 {
        flex-wrap: wrap;
        row-gap: 20px;
    }
    .content-section8-boxes {
        justify-content: center;
        flex-wrap: wrap;
    }
    .people-asking .commient{
        width: 300px;
    }
    .row1 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        column-gap: 80px;
    }
    .neavgation-bar {
        width: 100%;
        padding: 30px 0;
    }
    .neavgation-bar ul li:hover {
    color:#8cbf42;
    border: none;
    padding: 0;
    }
    .serch-bar {
         padding-top: 0px;
    }
    .button {
        height: 90px;
    }
    .neavgation-bar ul {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}
@media only screen and  (min-width: 320px) and (max-width: 480px)   {}


