.call i {
    padding-left: 11px;
}
.serch-bar a {
    left: 0;
    right: unset;
}
.content-row2-box h2 {
    text-align: right;
}
.people-asking .text {
    padding-right: 20px;
}
.footer-box li i {
    padding-left: 15px;
}
.footer-box a i {
    padding-left: 15px;
}
.back-imag img {
    padding: 90px 0px;
}
.content-row4-boxes {
    bottom: 206px;
}
.our-reviewer {
    background-color: #fff;
    position: absolute;
    padding: 30px;
    bottom: -35px;}