@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    .imag-album {
        row-gap:30px
    }
    .cause-image {
        justify-content: center;
        gap: 50px;
    }
    .gallary-album{
        justify-content: center;
        gap: 50px;
    }
    .events {
        display: block;
        text-align: center;
    }
    .event {
      justify-content: center;
      padding-top: 30px;
    }
}
@media only screen and  (min-width: 769px) and (max-width: 1024px) {
    .imag-album {
        row-gap:30px
    }
    .cause-image {
        display: grid;
        grid-template-columns: auto auto;
        gap: 30px;
    }
    .raised>img {
        width: 349px;
    }
    .gallary-album{
        display: grid;
        grid-template-columns: auto auto;
        gap: 30px;
    }
    .events {
        display: block;
        text-align: center;
    }
    .event {
      justify-content: center;
      padding-top: 30px;
    }
    .flex {
        width: 700px;
    }
    .overlay-4 {
        width: 93%;
        top: 76.2%;
    }
    .Donner-img>img {
        width: 340px;
    }
    .main-nav > ul > li > a{
        padding: 0;
    }
    .submenu{
        width: 85px;
    }
}
@media only screen and  (min-width: 481px) and (max-width: 768px){
    .top-scripet{
        flex-wrap: wrap;
        justify-content: center;
    }
    .nev-bar {
        justify-content: center;
        flex-wrap: wrap;
    }
    .nevgation-bar {
        width: 100%;
    }
    .baner-content{
        flex-wrap: wrap;
    }
    .baner1{
        padding-top: 300px;
        text-align: center;
    }
    .baner-content>p{
        width: 100%;
        font-size: 18px;
    }
    .box{
        flex-wrap: wrap;
    }
    .imag-album {
        row-gap:30px;
        justify-content: center;
    }
    .cause-image {
        display: grid;
        grid-template-columns: auto;
        gap: 30px;
        justify-content: center;
    }
    .join>p {
        width: 451px;
    }
    .Upcoming-box {
        margin-left: 0;
        padding: 10px 0px;
        height: unset;
        flex-wrap: wrap;
        justify-content: center;
    }
    .Upcoming-box1>h1 {
        margin-left: 20px;
    }
    .center-line {
        margin: 0px 10px;
    }
    .Upcoming-box2{
        padding-right: 0;
    }
    .raised>img {
        width: 349px;
    }
    .gallary-album{
        display: grid;
        grid-template-columns: auto auto;
        gap: 30px;
    }
    .Donner-img{
        text-align: center;
    }
    .events {
        display: block;
        text-align: center;
    }
    .event {
      justify-content: center;
      padding-top: 30px;
    }
    .flex {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 50px;
        justify-content: center;
    }
    .stay {
        flex-wrap: wrap;
    }
    .text {
        margin-bottom: 20px;
    }
    .overlay-4 {
        width: 93%;
        top: 76.2%;
    }
    .Donner-img>img {
        width: 340px;
    }
    .main-nav > ul > li > a{
        padding: 0;
    }
    .submenu{
        width: 80px;
    }
    .footer-nav {
        width: 100%;
    }
    .who-headin>P {
        width: 100%;
    }
    .children{
        flex-wrap: wrap;
    }
}
@media only screen and  (min-width: 320px) and (max-width: 480px) {
    .hedding>p{
        width: 272px;
    }
    .children{
        width: 272px;
        flex-wrap: wrap;
    }
    .top-scripet{
        flex-wrap: wrap;
        justify-content: center;
    }
    .nev-bar {
        justify-content: center;
        flex-wrap: wrap;
    }
    .nevgation-bar {
        width: 100%;
    }
    .baner-content{
        flex-wrap: wrap;
    }
    .baner1{
        padding-top: 380px;
        text-align: center;
    }
    .main-nav ul{
        flex-wrap: wrap;
        gap:20px;
        justify-content: center;
    }
    .main-nav li{
        width: unset;
    }
    .main-nav li:hover .submenu > li {
        display: none;
    }
    .baner-content>p{
        width: 100%;
        font-size: 14px;
    }
    .box{
        flex-wrap: wrap;
    }
    .imag-album {
        row-gap:30px;
        justify-content: center;
    }
    .cause-image {
        display: grid;
        grid-template-columns: auto;
        gap: 30px;
        justify-content: center;
    }
    .join>p {
        width: 300px;
    }
    .Upcoming-box {
        margin-left: 0;
        padding: 10px 0px;
        flex-wrap: wrap;
        height: unset;
    }
    .Upcoming-box1>h1 {
        margin-left: 20px;
    }
    .center-line {
        margin: 0px 10px;
    }
    .Upcoming-box2>h1 {
        font-size: 22px;
        margin-left: 4px;
    }
    .Upcoming-box2{
        padding-right: 0;
    }
    .raised>img {
        width: 300px;
    }
    .baner-content>h2{
        font-size: 45px;
    }
    .gallary-album{
        display: grid;
        grid-template-columns: auto;
        gap: 30px;
    }
    .Donner-img{
        text-align: center;
    }
    .events {
        display: block;
        text-align: center;
    }
    .event {
      justify-content: center;
      padding-top: 30px;
    }
    .flex {
        display: grid;
        grid-template-columns: auto auto ;
        gap: 50px;
        justify-content: center;
    }
    input#email {
        width: 195px;
    }
    .email a{
        padding-left: 0;
    }
    .stay {
        flex-wrap: wrap;
    }
    .text {
        margin-bottom: 20px;
    }
    .overlay-4 {
        width: 100%;
        top: 70%;
    }
    .events>img {
        width: 280px;
    }
    .Donner-img>img {
        width: 278px;
        height: 350px;
    }
    .column1 {
       font-size: 13px;
    }
    .envelope>p{
        padding: 0px 7px;
    }
    .phone>p{
        padding: 0px 7px;
    }
    .main-nav > ul > li > a{
        padding: 0;
    }
    .submenu{
        width: 80px;
    }
    .footer-nav {
        width: 100%;
    }
    .who-headin>P {
        width: 100%;
    }
    #menu-drop {
        display: block;
        padding: 16px 0px 16px 0px;
        align-items: center;
        text-align: center;
        font-size: 25px;
        color: #fff;
    }
    .main-nav{
        display: none;
    }
    .baner-content>h1{
        font-size: 33px;
    }
    .footer-nav>ul {
        flex-wrap: wrap;
    }
}