@media only screen and  (min-width: 1025px) and (max-width: 1200px) {
    .top-strip-search {
        width: 28%;
    }
    .language {
        margin-left: 31px;
    } 
    .absolute-text {
        left: 17%;
    }
    .absolute-text-3 {
        right: 17%;
    }
    .core-values-btn {
        width: 30%;
    }
    .interest-heading{
        width: 492px;
    }
    .interest-heading>a:before {
        width: 107px;
    }
    .interest-heading>a:after {
        left: 80px;
    }
    .footer-last {
        width: 97%;
    }
    .footer-last-icon {
        width: 30%;
    }
}
@media only screen and  (min-width: 769px) and (max-width: 1024px) {
    .top-strip-search {
        width: 40%;
    }
    .top-strip-content{
        flex-direction: column;
        align-items: center;
    }
    .links {
        width: 100%;
        border-top: 1px solid #ebebeb;
    }
    .language {
        margin-left: 31px;
    } 
    .absolute-text {
        left: 17%;
    }
    .absolute-text-3 {
        right: 17%;
    }
    .core-values-btn {
        width: 38%;
    }
    .contact-us-text{
        width: 80%;
    }
    .Business-Solutions-content{
        grid-template-columns: auto auto ;
    }
    .Latest-Blog-content {
        width: 70%;
    }
    .padding{
        padding-right: 40px;
    }
    .advise-number>span {
        width: 30%;
    }
    .interest-box{
        align-items: center;
        padding-bottom: 25px;
        justify-content: center;
    }
    .interest-heading {
        width: 479px;
    }
    .interest-heading>a:before {
        width: 106px;
    }
    .interest-heading>a:after{
        left: 80px;
    }
    .footer-last {
        width: 100%;
    }
    .footer-last-icon {
        width: 40%;
    }
    .latest-case-studies-text {
        height: 330px;
    }
    .latest-case-studies{
        padding-bottom: 40px;
    }
    .our-location {
        width: 29%;
    }
    .footer-main{
        gap:40px;
    }

}
@media only screen and  (min-width: 481px) and (max-width: 768px) {
    .top-strip-search {
        width: 70%;
    }
    .top-strip-content{
        flex-direction: column;
        align-items: center;
    }
    .links {
        width: 100%;
        border-top: 1px solid #ebebeb;
        flex-wrap: wrap;
        padding: 20px 0px;
    }
    .language {
        margin-left: 31px;
    } 
    .absolute-text {
        left: 2%;
        width: 30%;
    }
    .absolute-text-2 {
        width: 33%;
    }
    .absolute-text-3 {
        right: 2%;
        width: 30%;
    }
    .advise-number>span {
        width: 40%;
    }
    .core-values-btn {
        width: 60%;
    }
    .contact-us-text{
        width: 80%;
    }
    .Business-Solutions-content{
        grid-template-columns: auto ;
        gap: 30px;
        justify-items: center;
    }
    .Latest-Blog-content {
        width: 95%;
        left: 10px;
    }
    .padding{
        padding-right: 40px;
        padding-bottom: 30px;

    }
    .line{
        display: none;
    }
    .links>a, .dropdown>a{
        padding: 18px 0px;
    }
    .dropdown-content{
        display: none;
    }
    #menu-drop {
        display: block;
        padding: 16px 0px 16px 0px;
        align-items: center;
        text-align: center;
        font-size: 25px;
        color: #000;
    }
    .nevgation-bar {
        display: none;
        width: 100%;
    }
    .nav-menu {
        width: 450px;
        text-align: center;
        padding-top: 10px;
        gap: 24px;
    }
    .advise-content{
        grid-template-columns: auto auto ;
    }
    .header-content>h1{
        font-size: 35px;
    }
    .header-1{
        padding: 130px 0px 200px 0px;
    }
    .header-2{
        padding: 130px 0px 200px 0px;
    }
    .header-3{
        padding: 130px 0px 200px 0px;
    }
    .Meet-The-Team{
        flex-direction: column;
    }
    .Meet-The-Team-number-1 {
        width: 100%;
    }
    .Meet-The-Team-number-2{
        width: 100%;
    }
    .our-clients-main{
        flex-wrap: wrap;
        justify-content: center;
    }
    input[type="name"], select, textarea {
        width: 45%;
    }
    input[type="e-mail"], select, textarea{
        width: 70%;
    }
    .inbox{
        align-items: center;
        flex-direction: column;
    }
    .all-heading>h1 {
        font-size: 25px;
    }
    .all-heading{
        margin-bottom: 0;
    }
    .copyright-bar-links {
        padding: 20px 0px;
    }
    .copyright-bar-main{
        flex-direction: column;
    }
    .Business-Solutions-number{
        width: 70%;
    }
    .interest-img>img{
        width: 437px;
        height: 470px;
    }
    .latest-case-studies-number{
        margin-left: unset;
        margin-top: 25px;
    }
    .interest-heading {
        width: 434px;
        padding-top: 80px;
        padding-bottom: 25px;
    }
    .interest-heading>h1 {
        font-size: 60px;
    }
    .footer-last-icon {
        width: 65%;
    }
    .footer-lastbox{
        justify-content: center;
    }
    .footer-last {
        width: 100%;
    }
    input[type="name"], select, textarea {
        width: 70%;
        margin-bottom: 20px;
    }
    .header{
        display: block;
    }
    .our-location {
        width: 29%;
    }
    .footer-main{
        gap:40px;
    }
}
@media only screen and  (min-width: 320px) and (max-width: 480px) {
    .top-strip-search {
        width: 95%;
    }
    .top-strip-content{
        flex-direction: column;
        align-items: center;
    }
    .header-content>p {
        width: 100%;
    }
    .links {
        width: 100%;
        border-top: 1px solid #ebebeb;
        flex-wrap: wrap;
        padding: 20px 0px;
    }
    .language {
        margin-left: 31px;
    } 
    .absolute-text {
        left: 2%;
        width: 30%;
        font-size: 12px;
    }
    .absolute-text-3 {
        right: 2%;
        width: 30%;
    }
    .core-values-btn {
        width: 100%;
    }
    .contact-us-text{
        width: 100%;
    }
    .contact-us-text>h1 {
        font-size: 60px;
    }
    .Business-Solutions-content{
        grid-template-columns: auto;
        gap: 30px;
    }
    .Latest-Blog-content {
        width: 95%;
        left: 10px;
    }
    .padding{
        padding-right: 40px;
        padding-bottom: 30px;

    }
    .line{
        display: none;
    }
    .links>a, .dropdown>a{
        padding: 18px 0px;
    }
    .dropdown-content{
        display: none;
    }
    #menu-drop {
        display: block;
        padding: 16px 0px 16px 0px;
        align-items: center;
        text-align: center;
        font-size: 25px;
        color: #000;
    }
    .nevgation-bar {
        display: none;
        width:auto;
        justify-content: center;

    }
    .nav-menu {
        width: 450px;
        text-align: center;
        padding-top: 10px;
        gap: 20px;
        padding-right: 0;
        flex-wrap: wrap;
        justify-content: center;

    }
    .advise-content{
        grid-template-columns: auto ;
    }
    .header-content>h1{
        font-size: 35px;
    }
    .header-1{
        padding: 130px 0px 200px 0px;
    }
    .header-2{
        padding: 130px 0px 200px 0px;
    }
    .header-3{
        padding: 130px 0px 200px 0px;
    }
    .Meet-The-Team{
        flex-direction: column;
    }
    .Meet-The-Team-number-1 {
        width: 100%;
    }
    .Meet-The-Team-number-2{
        width: 100%;
    }
    .our-clients-main{
        flex-wrap:  wrap;
        justify-content: center;

    }
    input[type="name"], select, textarea {
        width: 70%;
    }
    input[type="e-mail"], select, textarea{
        width: 95%;
    }
    .inbox{
        align-items: center;
        flex-direction: column;
    }
    .all-heading>h1 {
        font-size: 25px;
    }
    .all-heading{
        margin-bottom: 0;
        padding: 0px 10px;

    }
    .footer-main {
        grid-template-columns: auto ;
        grid-gap: 30px;
    }
    .copyright-bar-links {
        padding: 20px 0px;
    }
    .copyright-bar-main{
        flex-direction: column;
    }
    .namber-content{
        justify-content: center;
    }

    .Latest-Blog-content>p {
        font-size: 12px;
    }
    .Latest-Blog-content>h2{
        font-size: 24px;
    }
    .Latest-Blog-content>h4{
        font-size:21px;
    }
    .copyright-bar-credits {
        width: 60%;
    }
    .Latest-Blog {
        padding-top: 67px;
    }
    .header{
        display: block;
    }
    .logo {
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .latest-case-studies-number{
        margin-left: unset;
        margin-top: 25px;
    }
    .absolute-text-2 {
        font-size: 12px;
        width: 32%;
    }
    .line-reder{
        display: none;
    }
    .interest-img>img{
        width: 290px;
    }
    .interest-heading{
        padding-top: 60px;
        padding-bottom: 30px;
    }
    .our-location {
        width: 55%;
    }
    .footer-main{
        gap:40px;
    }
    .footer-last-icon {
        width: 96%;
        padding-bottom: 20px;
    }
    .footer-lastbox{
        justify-content:center ;
    }
    .footer-last {
        width: 100%;
    }
    input[type="name"], select, textarea {
        width: 70%;
        margin-bottom: 20px;
    }
    .interest-heading>a:before {
        width: 105px;
    }
    .interest-heading>a:after {
        left: 80px;
    }

}