@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}
/*dots custom*/
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots-1
{
    position: absolute;
    top: -45px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
.slick-dots-1 li
{
    position: relative;
    display: inline-block;
    height: 20px;
    margin: 0 5px;
    cursor: pointer;
}
.slick-dots-1 li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    
    padding: 5px;

    cursor: pointer;
    border-radius: 20px;
    color: transparent;
    border: 2px solid #b6b6b6;
    outline: none;
    background: transparent;
}
.slick-dots-1 li button:hover,
.slick-dots-1 li button:focus
{
    outline: none;
}
.slick-dots-1 li button:hover:before,
.slick-dots-1 li button:focus:before
{
    opacity: 1;
}
.slick-dots-1 li button:before
{
    font-family: 'slick';
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    border: 2px solid #aad0df;
    border-radius: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots-1 li.slick-active button:before
{
    opacity: .75;
    color: #aad0df;
}
/*Dots custom 2*/
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}
.slick-dots-2
{
    position: absolute;
    bottom: 35px;
}
.slick-dots-2 li
{
    position: relative;

    display: inline-block;

    width: 30px;
    height: 2px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots-2 li button
{
    /*font-size: 0;
    line-height: 0;*/

    display: block;

    width: 30px;
    height: 2px;
   /* padding: 5px;*/

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: #71899b;
}
.slick-dots-2 li button:hover,
.slick-dots-2 li button:focus
{
    outline: none;
}
.slick-dots-2 li button:hover:before,
.slick-dots-2 li button:focus:before
{
    opacity: 1;
}
.slick-dots-2 li button:before
{
    font-family: 'slick';
    

    position: absolute;
    top: 0;
    left: 0;

    width: 30px;
    height: 2px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: transparent;
    background: #fff;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots-2 li.slick-active button:before
{
    opacity: .75;
    color: transparent;
}
/* Slick-Dots-3*/


.slick-dots-3
{
    position: absolute;
    bottom: 0px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}.slick-dots-3 li:first-child{
    border-left: 1px solid #474e55;
}
.slick-dots-3 li{
    position: relative;
    display: inline-block;
    width: 25%;
    height: 113px;
    padding: 0;
    border-right: 1px solid #474e55;
    border-left: 1px solid #474e55;
    cursor: pointer;
}
.slick-dots-3 li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots-3 li button:hover,
.slick-dots-3 li button:focus
{
    outline: none;
}
.slick-dots-3 li button:hover:before,
.slick-dots-3 li button:focus:before
{
    opacity: 1;
}
.slick-dots-3 li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: transparent;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots-3 li.slick-active button:before
{
    opacity: .75;
    color: transparent;
}.slick-dots-3 li.slick-active{
    border-bottom: 5px solid #aad0df; 
}
@media only screen and  (min-width: 320px) and (max-width: 480px){
    .slick-dots-3 li{
        width: 33%;
    }
    .slick-dots-1 {
        display: none !important;
    }
}
@media only screen and (min-width: 481px) and (max-width: 768px){
    .slick-dots-3 li{
        width: 33%;
    }
    .slick-dots-1 {
        display: none !important;
    }
}