* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  width: 1180px;
  margin: 0 auto;
}
.political-error-page {
  background-image: url(../img/pages-not-found.png);
  background-size: cover;
  width: 100%;
}
.text {
  text-align: center;
  color: #b99663;
  padding: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text h2 {
  font-size: 50px;
  font-family: "Merriweather", serif;
}
.text h3 {
  font-size: 40px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 600;
  color: #fff;
  line-height: 2;
}
.text p {
  font-size: 20px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  color: #fff;
  width: 75%;
  line-height: 1.8;
  padding-bottom: 40px;
}
