@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}


.container{
width: 1180px;
margin: 0 auto;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}  
.top-scripet{
	background-color: #f1f1f1;
	padding: 19px 0px;
	font-family: 'poppins',sans-serif;
	font-size: 15px;
	font-weight: 300;
	
}
.column1{
 display: flex;
 color: #666666;
 align-items: center;
}
.column1>p{
	padding-left: 10px;
}
.column1>span{
	display: flex;
	padding-left: 40px;
	align-items: center;
}
.column1>span>i{
	padding-right: 10px;
}
.vl{
    display: inline;
    width: 1px;
    height: 20px;
    background: #666666;
    margin: 0px 20px;
}
.nav-bar{
border-bottom: 2px solid #f1f1f1;
padding-bottom: 45px;
font-family: 'poppins',sans-serif;
}
.column2{
	padding-top: 25px;
}
.column2>h1>span{
 color:#3047a5 ;
}
.column2>h1>span1{
 color:#3047a5 ;
}
#menu-drop {
  color: #222845;
  font-size: 24px;
  cursor: pointer;
  display: none;
}


.header-bar {
  display: flex;
  gap: 20px;
  list-style: none; 
}
.header-bar > li > a {
  text-decoration: none;
  color: #000000;
  font-size: 20px;
}
.header-bar > li > a:hover {
  color: #3047a5;
  border-bottom: 2px solid #3047a5;
  padding-bottom: 45px;
   transition: ease-in 0.2s;
}
.column3{
display: flex;
padding-top: 47px;
}
.column3>span>p{
	  color: #000000;
	  background: #dddddd;
	  font-size: 15px;
    border-radius: 37px;
    padding: 5px;
    font-weight: 600;
    margin-left: 40px;
}
.banner{
width: 100%;
background-repeat: no-repeat;
}
.banner11{
  display: flex;
}
.banner>img{
  position: absolute;
  background-repeat: no-repeat;
    
  }

.banner-col1{
  font-family: 'poppins',sans-serif;
  width: 570px;
  padding: 220px 0px;
position: absolute;
left: 450px;
}
.banner-col1>h1{
    font-size: 25px;
    font-weight: 300;
}
.banner-col1>h3{
  font-size: 32px;
    font-weight: 500;
}

.banner-col1>p{
  font-size: 18px;
    font-weight: 500;
    padding-bottom: 25px;
}
.banner-col1>a{
  color: white;
  text-decoration: none;
  background: #3047a5;
   border-radius: 37px;
    padding: 5px 20px;
    font-size: 20px;
}
.banner-col1>a:hover{
  background-color: white;
  color:#3047a5 ;
}
.banner-last{
  background-color: #3047a5;
  font-family: 'poppins',sans-serif;
  padding: 25px 0px;
  margin-top: -4px;
}
.banner-heading>p{
  font-size: 20px;
  color: white;
}
.banner-heading>a{
  color: #3047a5;
  text-decoration: none;
  background: white;
   border-radius: 37px;
    padding: 5px 40px;
    font-size: 20px;
    font-weight: 500;
}
.banner-heading>a:hover{
  color: white;
  background-color:black ;
}
.heading>p{
font-size: 40px;
font-weight:900;
width: 990px;
margin: 0 auto;
padding: 80px 0px 40px;
text-align: center;
}
.blue{
    color: #3047a5 ;
}
.content{
  padding-bottom: 100px;
}
.heading>h2{
padding-bottom: 70px;
font-size: 15px;
color: #999999;
}
/*.content-heading{
  padding: 80px 0px 40px;
}*/
.content-icon{
  width: 1350px;
  display: flex;
  justify-content: space-between;
  margin:0 auto ;
  padding-top: 85px;
  position: absolute;
    left: 0px;
    right: 0px;
}
.arrow-next{
    background-color:#ffffff;
    width: 50px;
   
    padding: 16px;
    color: black;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #a0a0a0;
}
.arrow-next:hover{
  color: white;
  background-color: #3047a5;
}
.arrow-prev{
  background-color:#ffffff;
  width: 50px;
 
  padding: 16px;
  color: black;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid #a0a0a0;
}
.arrow-prev:hover{
color: white;
background-color: #3047a5;
}
.video{
  position: relative;
  display: block;
}
.video-heading{
font-family:'poppins',sans-serif ;
}
.video-heading>h1{
  font-size: 18px;
}
.video-heading>p{
    font-size: 13px;
    width: 200px;
    font-weight: 400;
    padding-top: 10px;
}
.content-row2{
background-image:linear-gradient(to bottom ,#edf9ff, #edf9ff),url(../images/Untitled-9.jpg) ;
margin-top: 100px;
}
.content-col2{
  /*display: flex;*/
  display: block;
  flex-wrap: wrap;
  text-align: center;
}
.content-box2{
background-color:#ffffff;
 width: 210px;
 height: 140px;
 border: 2px solid #d8e3e8;
 font-family:'poppins',sans-serif ;
     margin-bottom: 30px;
}
.content-box3{
    border-top: 2px solid #d8e3e8;
    display: flex;
    font-size: 8px;
    justify-content: space-between;
    align-items: baseline;
    padding: 5px 10px;
    color: #666666;
    margin-top: 25px;
}
.content-icon1{
  padding-top: 150px;
}
.content-a{
width: 1180px;
margin: 0 auto;
text-align: center;
padding:50px 0px 100px;
}
.content-a>a{
  font-family:'poppins',sans-serif ;
    color: #3047a5;
    text-decoration: none;
    background: white;
    border-radius: 37px;
    padding: 10px 40px;
    font-size: 20px;
    font-weight: 500;
    border: 2px solid #3047a5;
}

.content-a>a:hover{
  color: white;
  background-color:#3047a5 ;
}
.content-row3{
background-image:url(../images/Untitled-11.jpg) ;
background-repeat: no-repeat;  

}
.vl2{
    display: inline;
    width: 44px;
    height: 4px;
    background: #3047a5;
    margin: 12px 20px 0px 0px;
}
.content-box4{
margin: 0 auto;
font-family:'poppins',sans-serif ;
padding: 100px 0px;
text-align: center;
}

.content-box4>h2{
  font-size: 44px;
  font-weight: 600px;
}
.span{
  display: flex;
  justify-content: center;
}
.span>h1{
  color:  #3047a5;
  font-size: 15px;
}
.span>h1>span{
color: #999999;
}
.content-row5{
  padding-top: 50px;

}
.eye-icon{
  width: 350px;
  font-family:'poppins',sans-serif ;
}
.eye-icon>i{
  color:#3047a5 ;
  border-radius: 100%;
  box-shadow: 0px 0px 10px  #9d9d9d;
  padding: 50px;
  font-size: 45px;
  margin-bottom: 15px;
}

.eye-icon>i:hover{
  background:#3047a5;
  color: white;
  transition: ease-in 0.3s;
}
.vl3{
  content: '';
    display: inline-flex;;
    width: 254px;
    margin: 60px 20px 0px 0px;
    position: absolute;
    transform: rotate(15deg);
    left: 608px;
     border: 1px dashed #777;
}

.vl88{
    display: inline-flex;;
    width: 302px;
    margin: 60px 20px 0px 0px;
    position: absolute;
    transform: rotate(345deg);
     right: 585px;
     border: 1px dashed #777;
}

.margin-top{
  margin-top: 60px;
}
.vl4{
    display: inline-flex;;
    width: 308px;
    margin: 41px 20px 0px 0px;
    position: absolute;
    transform: rotate(14deg);
    
     border: 1px dashed;
}

.content-row6{
  margin: 0 auto;
font-family:'poppins',sans-serif ;
text-align: center;
    padding-top: 90px ;
    padding-bottom: 100px ;
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/Untitled-45.jpg);
}
.vl6{
    display: inline;
    width: 44px;
    height: 4px;
    background: white;
    margin: 12px 20px 0px 0px;
}
.content-row6>span{
  display: flex;
  justify-content: center;
}
.content-row6>span>p{
  color: white;
}
.content-row6>h1{
  color: white;
  font-size: 40px;
    font-weight: 700;
    padding: 10px 0px;
}
.content-row6>p{
  color: white;
  font-size: 15px;
    font-weight: 400;
    padding-bottom: 45px;
}
.box6{
  background: white;
  width: 270px;
  margin-bottom: 30px;
  padding: 53px 0px;
  border-radius: 10px;
}
.box6>i{
  color:  #3047a5;
  font-size: 44px;
  padding-bottom: 10px;
}
.box6>h1{
  font-size: 15px;
  padding-bottom: 15px;
}
.box6>span{
  color: white;
  background:#3047a5 ;
  padding: 5px 15px;
    border-radius: 8px;
}
.Browse{
  padding-top: 50px;
}
.Browse>a{
    font-family: 'poppins',sans-serif;
    color: white;
    text-decoration: none;
    border-radius: 37px;
    padding: 10px 40px;
    font-size: 20px;
    font-weight: 500;
    border: 2px solid #ffffff;
}
.Browse>a:hover{
  background-color: white;
  color:#3047a5 ;
}
.content-row7 {
    font-family: 'poppins',sans-serif;
    padding: 100px 0px;
    text-align: center; 
}

.content-row7>p{
      padding: 10px 0px 15px;
}
.job{
  padding: 50px 0px;
  display: flex;
  width: 850px;
  justify-content: space-between;
  margin: 0 auto;
}

.strack{
  width: 570px;
  border: 2px solid #e7e7e7;
  border-radius: 5px;
  padding: 15px 0px;
  display: flex;
  font-family:'poppins',sans-serif ;
  margin-bottom: 35px;
}


.strack-img>img{
 /* background-color:#e7e7e7 ;*/
  padding: 5px;
}

.strack-heading1{
  text-align: left;
  padding:10px 15px 0px;
}
.strack-heading1>h1{
  font-size: 17px;
  font-weight: 500;
}
.strack-heading1>h2{
  font-size: 15px;
  color: #acacac;
  font-weight: 400;
}

.strack>p{
  padding: 13px 20px;
  color: #777777;
}
.strack2>p{
  padding: 13px 50px;
  color: #777777;
}
.strack-a>a{
    color: white;
    text-decoration: none;
    background:#e98a1c;
    border-radius: 5px;
    padding: 0px 10px;
    font-size: 15px;
    margin-left: 10px;
}
.strack-a{
  margin-top: 13px;
}
.color>h1{
  color: #3047a5;
  font-size: 15px;
}
.strack-heading2>h2{
  color: #777777;
  font-size: 15px;
  font-weight: 400;
}
.color2>h1{
  color: #f08d3c;
  font-size: 15px;
}
.color3>h1{
  color: #d93674;
  font-size: 15px;
}

.load>a {
    font-family: 'poppins',sans-serif;
    color: #3047a5;
    text-decoration: none;
    border-radius: 37px;
    padding: 10px 40px;
    font-size: 20px;
    font-weight: 500;
    border: 2px solid #3047a5;

}
.load>a:hover{
  color: white;
  background: #3047a5;
}
.content-row8 {
    font-family: 'poppins',sans-serif;
   
    text-align: center;

    padding-top: 115px ;
    padding-bottom: 280px ;
    background-position: center ;
    background-repeat: no-repeat ;
    background-size: cover ;
    background-image:url(../images/Untitled-46.jpg) ;
}
.content-row8>p{
 padding: 10px 0px 15px;
}
.content-box8>img{
  border: 5px solid white;
  border-radius: 50%;
}
.content-box8>h1{
  font-size: 20px;
}
.content-box8>h2{
  font-size: 16px;
  color: #777777;
  font-weight: 400;
}
.content-row9{
  font-family: 'poppins',sans-serif;
    padding: 100px 0px;
    text-align: center;
}
.content-row9>p{
 padding: 10px 0px 15px;
}
.carry1{
  display: block;
}
.content-box9{
  border: 1px solid #777777;
  width: 372px;
  position: relative;
  padding: 38px;
  border-radius: 5px;
  display: flex;
}
.content-box9>i{
  font-size: 27px;
  color: #3047a5;
}
.shape {
    position: absolute;
    width: 24px;
    height: 24px;
    background-color: white;
    border: 1px solid #828282;
    transform: rotate(45deg);
    border-left: none;
    border-top: none;
    bottom: -12px;
    left: 170px;
}
/*.content-box9:hover{
  background: #3047a5;
  color: white;
}
.content-box9>i:hover{
  color: white;
}
.shape:hover{
  background: #3047a5;
  color: white;
}*/
.box9{
  padding-top: 60px;
}
.content-row9-img{
  padding-top: 40px;
}
.content-row9-img>img{
  border-radius: 50%;
}
.content-row9-img>h1{
  color: #000;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 0;
}

.content-row9-img>h2{
    font-size: 16px;
    color: #777;
    font-weight: 400;
}
.content-row9-img2{
  position: relative;
 margin-top: 100px;
}
.content-row9-img2>img{
  width: 100%;
   height: 305px;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    object-fit: cover;
}
.overlay{
   position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0.6;
    transition: opacity 0.4s;
    background: #000000;
    cursor: pointer;
    height: 305px;
    width: 100%;
}

.overlay-content{
   width: 1050px;
   padding-top: 85px;
}
.overlay-box>h1{
  color: #ffffff;
  font-size: 55px;
  font-weight: 500;
}
.overlay-box>h1>span{
  border-bottom: 3.5px solid #0031f8;
}
.overlay-box>p{
  font-size: 15px;
  color:#ffffff ;
  padding-top: 7px;
}

.content-row10{
  text-align: center;
  font-family:'poppins',sans-serif ;
  padding-bottom: 100px;
}
.content-row10>p{
  padding: 0px;
}
.content-row10>span{
  padding: 20px 0px;
}
.span1 {
    padding: 10px;
}
.vl5{
  margin: 8px 20px 0px 0px;
}
.content-box10{
  width: 372px;
  font-family:'poppins',sans-serif ;
  padding-bottom: 35px;
}

.content-box10-icon{
  position: absolute;
    width: 345px;
    justify-content: space-between;
    display: flex;
    /* margin: 0 auto; */
    align-items: center;
    padding: 10px 30px 0px;
}
.content-box10-icon>a {
    font-family: 'poppins',sans-serif;
    color: #ffffff;
    text-decoration: none;
    border-radius: 37px;
    padding: 5px 20px;
    font-size: 15px;
    font-weight: 500;
    background-color: #151516;
    /*border: 2px solid #3047a5;*/
}
.content-box10-icon>a:hover{
  background-color:#3047a5;
}

.content-box10-icon>i{
  background: #888c8f;
    color: white;
    border-radius: 50%;
    padding: 5px;
}
.content-box10-icon>i:hover{
  background-color:#3047a5 ;
}
.content-box10>img{
  width: 372px;
}
.content-box9-icon{
  display: flex;
  flex-wrap: wrap;
    font-size: 18px;
    color: #888;
}
.content-box9-icon>i{
  padding: 10px 10px 0 0;
}
.content-box9-icon>p{
  padding: 5px 18px 0 0;
}
.content-box10-heading{
  background-color: #f5f5f5;
  text-align: left;
  padding: 30px 24px 31px;
  margin-top: -7px;
}

.content-box10-heading>h1{
  font-size: 22px;
    font-weight: 700;
    margin-bottom: 14px;
    line-height: 1.3;
}
.content-box10-heading>h1:hover{
  color: #3047a5;
}
.content-box10-heading>p{
    font-size: 17px;
    color: #777;
    margin-bottom: 0;
    font-weight: 300;
}
.footer{
  width: 100%;
  background-color: #191623;
  padding-top: 100px;

}
.footer-row1{
  align-items: baseline;
  font-family: 'poppins',sans-serif;
}
.footer-row1>h1{
  color: #fff;
    font-size: 26px;
    font-weight: 700;
}
/*.footer-row1{
  width: 500px;
}*/

input[type=email] {
    width: 310px;
    padding: 19px 23px;
    background-color: #201c2c;
    border: none;
    font-size: 20px;
    border-radius: 50px;
    margin-right: -50px;
    outline: none;
}

input[type=email]:hover{
  border: none;
}
input[type=submit]{
width: 200px;
margin-top: 25px;
background: #3047a5;
color: #fff;
font-weight: bolder;
font-size: 20px;
padding: 17px 0px;
border: 2px solid #3047a5;
border-radius: 50px;
font-weight: 500;
}

input[type=submit]:hover{
background: #ffff;
color: #3047a5;
border: 2px solid white;
}

.footer-row1-icon{
    width: 300px;
    display: flex;
    justify-content: space-between;

}

.footer-row1-icon>i{
  width: 60px;
    height: 60px;
    background-color: #201c2c;
    border-radius: 100%;
    color: #fff;
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
    position: relative;
}
.footer-row1-icon>i:hover{
  background-color:#3047a5 ;
}
.footer-row2{
  font-family: 'poppins',sans-serif;
  padding-top: 75px;
}
.footer-box{
  width: 275px;
}
.footer-box>p{
  color: #777;
  font-size: 16px;
  line-height: 1.8;
}
.footer-box>h1{
color:#fff ;
padding-bottom: 35px;
font-size: 25px;
font-weight: 600;
}
.col-row1{
  display: flex;
  padding-bottom: 37px;
}
.col-row1>img{
    margin-right: 28px;
    width: 90px;
    height: 60px;
}
.img1-row1> h2 {
  color: #ffffff;
  font-size: 18px;
  font-family: 'poppins',sans-serif;
  font-weight: 400;
  line-height: 1.5em;
}
.img1-row1>i{
  display: flex;
  color: #777;
  padding-top: 5px;

}
.img1-row1>i>p{
  padding-left: 15px;
}

.term>li>span{
  color: white;
}
.term>li{
    padding-bottom: 20px;
    font-family: 'poppins',sans-serif;
    font-size: 15px;
    display: flex;
    align-items: center;
    color:#777;
}
.term>li:hover{
    color:#3047a5 ;
}

.term>li>span>i {
    font-size: 10px;
    padding-right: 15px;
}
.last-icon{
  padding-top: 30px;
}

.last-icon>li>span{
  color: white;
}
.last-icon>li{
    padding-bottom: 25px;
    font-family: 'poppins',sans-serif;
    font-size: 20px;
    display: flex;
    align-items: center;
    color:#777;
}
.last-icon>li:hover{
    color:#3047a5 ;
}
.last-icon>li>span>i {
    font-size: 18px;
    padding-right: 15px;
    color: white;
}
.footer-box1{
  width: 230px;
}
.footer-last{
  background-color: #120f1d;
  text-align: center;
  padding: 35px 0px;
  margin-top: 90px;
}
.footer-last>p{
   font-family: 'poppins',sans-serif;
  color: #777;
  font-size: 20px;
}
.footer-last>p>a{
  text-decoration: none;
  color: #777;
}
.footer-last>p>a:hover{
  text-decoration: underline;
  font-weight: bolder;
}